.color_1 {
    background-color: darkgreen;
}

.color_2 {
    background-color: green;
}

.color_3 {
    background-color: yellow;
}

.color_4 {
    background-color: orange;
}

.color_5 {
    background-color: red;
}

.color_6 {
    background-color: darkred;
}